<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

        <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
    
        <link rel="stylesheet" href="/stylesheets/pagination.css">
    <style>
        html {
            scroll-behavior: smooth;
        }
        
        .hero-section {
            height: 100vh;
        }
        .hero-section  {
         
            height: 100vh;
            background-image: url('https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80') !important;
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .hero-section::after {
            content: '';
            position: absolute;
            inset: 0;
            background:linear-gradient(to bottom, #000000cc, #0b0b0b25);
        }
        .nav-wrapper.scroll-color {
            background-color: rgb(32, 32, 32);
        }
        .nav-wrapper {
            position:fixed;
            width: 100%;
            left: 0;
            right: 0;
            z-index: 6;

            transition: 0.35s background-color ease-in-out;
        }
        .navbar {
            width: 100%;
            z-index: 1;
            background: transparent !important;
        }
        .hero-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            width: 35%;
            z-index: 2;
            text-align: center;
        }
        a.explore {
            border: none;
            background-color:rgb(122, 136, 1);
            box-shadow: 0 0 5px 1px black;
        }
        a.explore:hover {
            background-color: rgb(69, 76, 6);
        }
        a.explore:active {
            background-color: rgb(69, 76, 6) !important;
            transform: translate(1px,1px);
        }
        h1.title {
            margin-block: 20px;
            text-align: center;
        }
        
        @media screen and (max-width: 900px) {
            .hero-content {
                width: 100%;
                margin-inline: 50px;
            }
        }
    </style>
    </head>
<body>
    <div class="nav-wrapper">
        <div class="nav container">
            <%- include('../partials/navbar') %>
        </div>
    </div>
    
    
    <div class="hero-section">
        <div class="hero-content">
            <h1>YelpCamp</h1>
            <p>Camp under the starry night sky and create cherished memories that will last a lifetime</p>
            <a class="btn btn-primary explore" href="#allcamps">Explore</a>
        </div>
        
    </div>
    <h1 class="title">All Campgrounds</h1>
    <div id="map" style="width:100%; height: 400px"></div>
    <main class="container mt-3" id="allcamps">
        <%- include('../partials/flash') %>
    
    
    <% if(totalDocs != 0) { %>
        <p class="fw-bolder">Showing : Page <%= page %> of <%= totalDocs %> Campgrounds</p>
    <% } else { %>
        <p class="fw-bolder"> No camps around the world 😥</p>
    <% } %>

    <% for(let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.image.length) { %>
                    <img src="<%= campground.image[0].resize %>" class="card-img-top img-fluid" alt="...">
                    <% } else {%>
                        <img src="https://res.cloudinary.com/dlqqygobp/image/upload/c_fill,w_500,h_300/v1688574778/spenser-sembrat-zVJSJVGAgYs-unsplash_chthvp.jpg" class="card-img-top img-fluid" alt="...">
                    <% } %>
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p><small style="color:grey; font-weight: bold;"><%= campground.location %></small></p>
                        <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">Show Campground</a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center dark">
          <li class="page-item <%= page==1?'disabled':'' %>">
            <a class="page-link" href="?page=<%= page==1?'':page-1 %>" tabindex="-1">Previous</a>
          </li>

          <% if(page > 1 && page < totalPage) { %>
            <% for(let i=1;i<=1;i++) { %>
                <li class="page-item">
                    <a class="page-link" href='?page=<%= i %>' style="<%= page==i? 'background-color: #1686ba; color: white':''%>">
                        <%= i %>
                    </a>
                </li>
            <% } %>

            <li class="page-item">   
                <a class="page-link" href='#'>
                    ...
                </a>
            </li>
                
            <% for(let i=page;i<=page;i++) { %>
                <li class="page-item">
                    <a class="page-link" href='?page=<%= i %>' style="<%= page==i? 'background-color: #1686ba; color: white':''%>">
                        <%= i %>
                    </a>
                </li>
            <% } %>

            <li class="page-item">
                <a class="page-link" href='#'>
                    ...
                </a>
            </li>

            <% for(let i=totalPage;i<=totalPage;i++) { %>
                <li class="page-item">
                    <a class="page-link" href='?page=<%= i %>' style="<%= page==i? 'background-color: #1686ba; color: white':''%>">
                        <%= i %>
                    </a>
                </li>
            <% } %>
          <% } else { %>
                <% for(let i=1;i<=1;i++) { %>
                    <li class="page-item">
                        <a class="page-link" href='?page=<%= i %>' style="<%= page==i? 'background-color: #1686ba; color: white':''%>">
                            <%= i %>
                        </a>
                    </li>
                <% } %>

                <li class="page-item">
                    <a class="page-link" href='#'>
                        ...
                    </a>
                </li>

                <% for(let i=totalPage;i<=totalPage;i++) { %>
                    <li class="page-item">
                        <a class="page-link" href='?page=<%= i %>' style="<%= page==i? 'background-color: #1686ba; color: white':''%>">
                            <%= i %>
                        </a>
                    </li>
                <% } %>
            <% } %>
        



          <li class="page-item <%= page==totalPage?'disabled':'' %>">
            <a class="page-link" href="?page=<%= page==totalPage?'':page+1 %>">Next</a>
          </li>
        </ul>
      </nav> -->
    
    
    </main>

    <div class="pagination-wrapper py-4">
        <div class="container pagination:container">
        <a class="pagination:number arrow <%= (page==1) || (totalPage==0)?'disabled':'' %>" href="?page=<%= page-1 %>">
          <svg width="18" height="18">
            <use xlink:href="#left" />
          </svg>
          <span class="arrow:text">Previous</span> 
        </a>
        
        <% if(totalPage > 0) { %>
            <% if(page>=1 && page<=4) { %>
                <% for(let i=1;i<=4 && page<totalPage;i++) { %>
                    <a class="pagination:number <%= page==i?'active':'' %>" href="?page=<%= i %>">
                        <%= i %>
                    </a>
                <% } %>

                <a class="pagination:number" href="?page=<%= totalPage %>">
                    <%= totalPage %>
                </a>
            <% } else if(page>4 && page<=totalPage-3) { %>
                <a class="pagination:number" href="?page=1">
                    1
                </a>
                <% for(let i=page-1;i<=page+1;i++) { %>
                    <a class="pagination:number <%= page==i?'active':'' %>" href="?page=<%= i %>">
                        <%= i %>
                    </a>
                <% } %>
                <a class="pagination:number" href="?page=<%= totalPage %>">
                    <%= totalPage %>
                </a>
            <% } else { %>
                <a class="pagination:number" href="?page=1">
                    1
                </a>
                <% for(let i=totalPage-3;i<=totalPage;i++) { %>
                    <a class="pagination:number <%= page==i?'active':'' %>" href="?page=<%= i %>">
                        <%= i %>
                    </a>
                <% } %>
            <% } %>
        <% } %>

        
        
        <a class="pagination:number arrow <%= (page==totalPage) || (totalPage==0)?'disabled':'' %>" href="?page=<%= page+1 %>">
          <svg width="18" height="18">
            <use xlink:href="#right" />
          </svg>
        </a>
    </div>
      </div>
      
      <svg class="hide">
        <symbol id="left" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></symbol>
        <symbol id="right" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></symbol>
      </svg>

    <%- include('../partials/footer') %>
        
        <script>
            const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
            const campgrounds = {features: <%- JSON.stringify(allCampgrounds) %>}
        </script>
        <script src="/javascripts/clusterMap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
                integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
                integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
            <script>
                const navContainer = document.querySelector('.nav-wrapper');
                const scrollWatcher = document.createElement('div');
                
                navContainer.before(scrollWatcher);

                const navObserver = new IntersectionObserver((entries) => {
                    console.log(entries)
                 
                    navContainer.classList.toggle('scroll-color',!entries[0].isIntersecting);
            
                },{rootMargin: "250px 0px 0px 0px"})
                navObserver.observe(scrollWatcher);
            </script>
        </body>
</html>