<%- layout('layouts/boilerplate') %>
    <div id="map" style="width:100%; height: 400px"></div>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Add Campground</a>
    <% for(let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.image.length) { %>
                    <img src="<%= campground.image[0]['url'] %>" class="card-img-top img-fluid" alt="...">
                    <% } else {%>
                        <img src="https://res.cloudinary.com/dlqqygobp/image/upload/v1688574778/spenser-sembrat-zVJSJVGAgYs-unsplash_chthvp.jpg" class="card-img-top img-fluid" alt="...">
                    <% } %>
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p><small style="color:grey; font-weight: bold;"><%= campground.location %></small></p>
                        <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">Show Campground</a>
                    </div>
                </div>
            </div>


        </div>
        <% } %>
        <script>
            const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
            const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
        </script>
        <script src="/javascripts/clusterMap.js"></script>

